.card__num-likes {
	height: 13px;
	margin-top: 3px;
	align-self: center;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #000000;
}
