.popup__figure {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 10px 0px 0px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}