.footer__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: #545454;
}
@media screen and (min-width: 470px) and (max-width: 670px) {
  .footer__title {
    text-align: center;
  }
}
@media screen and (max-width: 470px) {
  .footer__title {
    font-size: 14px;
    line-height: 17px;
  }
}
